.toolbox-container {
  width: 200px;
  height: 400px;
  position: fixed;
  left: 0;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 10px;
  border-right: solid #505050 3px;
  border-bottom: solid #505050 3px;
  z-index: 1;
}

.node-category-header {
  background-color: #303030;
  border-bottom: solid #505050 3px;
}

.node-list-element {
  margin: 0.5em 1em;
  position: relative;
}

.node-list-button {
  margin-left: 1em;
}

.tree-line {
  border-left: solid #505050 3px;
  border-bottom: solid #505050 3px;
  height: 43px;
  width: 1em;
  float: left;
  top: -23px;
  position: absolute;
  z-index: -1;
}

.disable-highlight {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
